{% extends 'core/base.html' %}
{% load static %}
{% block title %}Genres{% endblock %}
{% block head %}
    <script src="{% static 'kinopoisk/js/genres.js' %}" defer></script>
{% endblock %}
{% block content %}
    <h1 class="text-center my-3">Жанры</h1>
    <div class="w-1000 justify-content-center d-flex">
        <div class="mw-1000px frc flex-wrap gap-3 genres_container">
{#            {% for genre in genres %}#}
{#                 <a href="{% url 'genre_detail' genre_id=genre.id %}" class="btn border-1 border border-secondary hover-scale-3">#}
{#                     {{ genre.name|title }}#}
{#                 </a>#}
{#            {% endfor %}#}
        </div>
    </div>
{% endblock %}