{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actors{% endblock %}
{% block content %}
    {% if persons.0.role == 'actor' %}
        <h1 class="text-center my-3">Актёры</h1>
    {% else %}
        <h1 class="text-center my-3">Режиссёры</h1>
    {% endif %}
    <div class="w-100 justify-content-center d-flex">
        <div class="mw-1000px frc flex-wrap gap-3">
            {% for person in persons %}
                {% include 'kinopoisk/includes/person_card.html' with person=person %}
            {% endfor %}
        </div>
    </div>
{% endblock %}