{% extends 'core/base.html' %}
{% load static %}
{% block title %}Genres{% endblock %}
{% block head %}
    <link href="{% static 'kinopoisk/css/kinopoisk.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1 class="text-center mb-4">{{ genre.name|title }}</h1>
    <p class="text-center">{{ genre.description }}</p>
    <div class="mw-1000px frc flex-wrap gap-3 mx-auto movie_base_container">
        {% for movie in movies %}
            {% include 'kinopoisk/includes/movie_card.html' with movie=movie %}
        {% endfor %}
    </div>
{% endblock %}