{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actors{% endblock %}
{% block head %}
    <link href="{% static 'kinopoisk/css/kinopoisk.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div>
        <div class="mw-1200px w-300 flex-wrap frcs gap-3">
            <img src="{{ person.photo.url }}" alt="" class="mw-300px flex-grow-1 object-fit-cover">
            <div class="pb-1 mw-500px fc">
                <div class="frbc gap-3">
                    <h1 class="pb-0">{{ person.name }}</h1>
                    <span class="pb-0">{{ person.birth_date }}</span>
                </div>
                <div class="movie_person_container">
                    {% for movie in person.acted_in_movies.all %}
                        {% include 'kinopoisk/includes/movie_card.html' with movie=movie %}
                    {% endfor %}
                    {% for movie in person.directed_movies.all %}
                        {% include 'kinopoisk/includes/movie_card.html' with movie=movie %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="mw-1200px frc flex-wrap gap-3">

        </div>
    </div>
{% endblock %}