{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/base.css' %}" rel="stylesheet">
    <script src="{% static 'core/js/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'core/js/theme.js' %}" defer></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body data-bs-theme="dark">
{% include 'core/includes/header.html' %}
<main class="mt-4">
    {% block content %}{% endblock %}
</main>
{% include 'core/includes/footer.html' %}
</body>
</html>